pip install opencv-python
pip install numpy
pip install pandas
pip install tensorflow
pip install keras
pip install speechrecognition
pip install nltk
pip install pillow
pip install matplotlib
